{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forrest</title>

    <script type="text/javascript" src="{% static 'webapp/js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/alerts.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/grant_application.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/search.js' %}"></script>
{#    {% include 'autocomplete_light/static.html' %}#}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script type="text/javascript" src="{% static 'webapp/js/bootstrap-datepicker.js' %}"></script>
    <link href="{% static 'webapp/css/webappv1.2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'webapp/css/forms1.1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'webapp/css/datepicker.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'webapp/css/bootstrap-datetimepicker.min.css' %}"/>
    <link href="{% static 'webapp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




    {% comment %}
using django-session-security to expire session after 2 hrs of inactivity

Note that the package is slightly out of date and will not work out-of-the-box because of a minor bug in the template
'session_security/all.html'

This bug has been fixed in a copy of the template contained in webapp i.e. 'webapp/admin/session_security'

{% endcomment %}

{#    {% include 'webapp/custom_session_security/session_security.html' %}#}

    {#    {% include 'session_security/all.html' %}#}

    <style>
        table {
            font-size: 14px;
        }
        .label-as-badge {
             border-radius: 1em;
        }
    </style>

    {% comment %} For IE 8 bootstrap compatibility {% endcomment %}
    <script type="text/javascript" src="{% static 'webapp/js/respond.matchmedia.addListener.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/respond.min.js' %}"></script>
    {% block head %}
    {% endblock %}


</head>
<body>


    <div id="header">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'home' %}">
                      <img src="{% static 'webapp/images/qq_one.jpg' %}" title="corneliaQ" alt="corneliaQ" style="width:95px;height:95px;"/>
                    </a>
{#                    <a>This is the user {{ user }}</a>#}

{#                        {% if user.is_authenticated %}#}
{#                            <img src="{% static 'webapp/images/uwa_icon.jpeg' %}" style="width:50px;height:50px;margin-top:-3px;"/>#}
{#                        {% else %}#}
{#                            <img src="{% static 'webapp/images/uwa_logo.png' %}" style="width:200px;height:45px;margin-left:8px;margin-top:-2px;"/>#}
{#                        {% endif %}#}
{#                    </a>#}
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
    {#                        <li><a href="{% url 'auth:manageAccount' %}">Manage account</a></li>#}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{ user.first_name }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a>123</a></li>
                                <li><a>123</a></li>
                                <li><a href="{% url 'auth:logout' %}">Log out</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Collect the nav links, forms, and other content for toggling -->
{#                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#                        <ul class="nav navbar-nav navbar-left">#}
{#                                <li><a href="{% url 'index:home' %}">Rounds</a></li>#}
{#                            {% if user.userpermissiontype.type == "STUDENT" or user.is_superuser%}#}
{#                                <li><a href="{% url 'user:my_application' %}">My Applications</a></li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="{% url 'reviewer:login_home' %}">My Reviews{% if count_new_nominations != 0 and count_new_nominations %}#}
{#                                <span class="label label-danger label-as-badge">{{ count_new_nominations }}</span>#}
{#                                {% endif %}#}
{#                            </a></li>#}
{#                            {% endif %}#}
{##}
{#                            {% if user.userpermissiontype.type != "STUDENT" or user.is_superuser %}#}
{#                                <li><a href="{% url 'staff:submitted_applications' %}">Submitted Applications</a></li>#}
{#                                {% if user.profile.type == user.profile.TYPE_READ_ONLY or user.profile.type == user.profile.TYPE_SUPER %}#}
{#                                    <li class="divider"></li>#}
{#                                    <li><a href="{% url 'read_only:login_home' %}">Applications List</a></li>#}
{#                                {% endif %}#}
{##}
{#                                {% if user.profile.type == user.profile.TYPE_COORDINATOR or  user.profile.type == user.profile.TYPE_SUPER or user.profile.type == user.profile.TYPE_ADMIN %}#}
{#                                    <li class="divider"></li>#}
{#                                    <li><a href="{% url 'coordinator:login_home' %}">Applications for Approval</a></li>#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{##}
{#                        </ul>#}
{##}
{##}
{#                        <ul class="nav navbar-nav">#}
{#                            {% block nav %}#}
{##}
{#                            {% endblock nav %}#}
{#                        </ul>#}
{##}
{#                        <ul class="nav navbar-nav navbar-right">#}
{##}
{#                            {% if user.is_masked %}#}
{#                                <li>#}
{#                                    <a href="{% url 'unmask' %}">Unmask</a>#}
{#                                </li>#}
{#                            {% endif %}#}
{##}
{#                            {% if user.userpermissiontype.type == user.userpermissiontype.USER_TYPE_SUPER or user.userpermissiontype.type == user.userpermissiontype.USER_TYPE_ADMIN %}#}
{#                                <li class="dropdown">#}
{#                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                        Admin <b class="caret"></b>#}
{#                                    </a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="{% url 'staff:create_new_round' %}">New Round</a></li>#}
{#                                        <li><a href="{% url 'staff:view_staff_members' %}">Staff Members</a></li>#}
{#                                            <li><a href="{% url 'staff:research_coordinators_edit' %}">Research#}
{#                                                Coordinators</a></li>#}
{#                                            {% if user.profile.type == user.profile.TYPE_SUPER %}#}
{#                                            <li><a href="{% url 'staff:manage_rounds'%}">Manage Rounds</a></li>#}
{#                                            <li><a href="{% url 'staff:permissions_edit' %}">User Permissions</a></li>#}
{#                                            {% endif %}#}
{#                                            <li><a href="{% url 'staff:summary_applications' %}">Summary</a></li>#}
{#                                            <li><a href="{% url 'staff:report' %}">Report</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{##}
{##}
{#                            {% endif %}#}
{##}
{##}
{##}
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{##}
{#                                    {% if user.profile.type == user.profile.TYPE_REGULAR %}#}
{#                                        <span class="text-success">#}
{#                                    {% elif user.profile.type == user.profile.TYPE_REVIEWER %}#}
{#                                        <span class="text-info">#}
{#                                    {% elif user.profile.type == user.profile.TYPE_COORDINATOR %}#}
{#                                        <span class="text-danger">#}
{#                                    {% else %}#}
{#                                        <span>#}
{#                                    {% endif %}#}
{#                                    {% bootstrap_icon 'user' %}#}
{#                                    </span>#}
{#                                    <span class="nav-user-name">{% if user.is_masked %} <strong class="text-info">Masquerading as: </strong>{% endif %}#}
{#                                    {{ user.first_name }}</span>#}
{##}
{#                                    <b class="caret"></b>#}
{#                                </a>#}
{#                                <ul class="dropdown-menu">#}
{##}
{#                                    {% if user.is_superuser %}#}
{#                                        <li><a href="{% url 'admin:index' %}">{% bootstrap_icon 'cog' %} Django Admin</a>#}
{#                                        </li>#}
{#                                        <li><a href="{% url 'mask' %}">Masquerade</a></li>#}
{#                                        <li><a href="{% url 'staff:my_mask' %}">Masquerade</a></li>#}
{##}
{#                                    {% endif %}#}
{##}
{#                                    <li><a href="{% url 'auth:manageAccount' %}">Manage account</a></li>#}
{#                                    <li><a href="{% url 'auth:passwordChange' %}">Change password</a></li>#}
{#                                    <li class="divider"></li>#}
{#                                    <li><a href="{% url 'auth:logout' %}">Log out</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <!-- /.navbar-collapse -->#}
{#                    </div>#}
                {% else %}
                        <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'auth:login' %}">Login</a></li>
{#                        <li class="dropdown">#}
    {#                        <li><a href="{% url 'auth:manageAccount' %}">Manage account</a></li>#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                        {{ user.first_name }} <b class="caret"></b>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a>123</a></li>#}
{#                                <li><a>123</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                    </ul>
                {% endif %}
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>

        {% block header %}
        {% endblock %}

    </div>

{% bootstrap_messages %}

    <div class="container">

        {% if user.is_authenticated and user.profile.type != 'COORDINATOR' and user.profile.type != 'ADMIN' and user.profile.type != 'SUPER'%}
            {% if not user.profile.is_uwa_affiliated_basic_check and not on_pheme_link_page %}
{#                {% include "webapp/partials/_alert_uwa_pheme.html" %}#}
                <script type="text/javascript">create_or_increment_cookie_counter(pheme_cookie);</script>
            {%  endif %}
        {%  endif %}

        {% block body %}
        {% endblock %}
    </div>

{#    {% include 'webapp/partials/support/_modal_support.html' %}#}
{#    {% include 'webapp/partials/support/_modal_missing_nomination.html' %}#}

    {% block secondBody %}
    {% endblock %}

{#    {% include 'webapp/partials/footer.html' %}#}
</body>
</html>